{% extends "layout.html" %}
<!-- Extension of layout.html; contains CSS/JS/Bootstrap file references -->
{% block title %}
<title> CV </title>
{% endblock %}
{% block body %}

<div class = "container">
    <div class = "row" style = "text-align: center">
        <div class = "col-md-12 header">
            <span class = "h1">A SUMMARY OF MY </span>
            <span class="h2">experience</span>
        </div>
    </div>
    <div class = "row cent">
        <!-- Work Section -->
        <h2>Work Experience</h2>
    </div>
    
    <div class = "row">
        <div class = "col-md-4 cvheader h3">
            <p>Work example 1
            <p>2016-2017
            <p>Workplace
        </div>
        <div class = "col-md-4">
            <p>
            <ul>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
            </ul>
        </div>
        <div class = "col-md-4">
            <p>
            <ul>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
            </ul>
        </div>
    </div>
    
    <div class = "row">
        <div class = "col-md-4 cvheader h3">
            <p>Work example 2
            <p>2015-2016
            <p>Workplace
            
        </div>
        <div class = "col-md-4">
            <p>
            <ul>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
            </ul>
        </div>
        <div class = "col-md-4">
            <p>
            <ul>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
            </ul>
        </div>
    </div>
    
    <div class = "row">
        <div class = "col-md-4 cvheader h3">
            <p>Work example 3
            <p>2015-2016
            <p>Workplace
            
        </div>
        <div class = "col-md-4">
            <p>
            <ul>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
            </ul>
        </div>
        <div class = "col-md-4">
            <p>
            <ul>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
            </ul>
        </div>
    </div>
    <!-- Education Section -->
    <div class = "row cent">
        <h2>Education</h2>
    </div>
    <div class = "row">
        <div class = "col-md-4 cvheader h3">
            <p>Education 1
            <p>2015-2016
            <p>school
            
        </div>
        <div class = "col-md-4">
            <p>
            <ul>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
            </ul>
        </div>
        <div class = "col-md-4">
            <p>
            <ul>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
            </ul>
        </div>
    </div>
    
    <div class = "row">
        <div class = "col-md-4 cvheader h3">
            <p>Education 2
            <p>2015-2016
            <p>school
        </div>
        <div class = "col-md-4">
            <p>
            <ul>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
            </ul>
        </div>
        <div class = "col-md-4">
            <p>
            <ul>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
                <li>skill</li>
            </ul>
        </div>
    </div>
    
</div>
{% endblock %}
